@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

$font-family: 'Plus Jakarta Sans', sans-serif;
$font-weight-800: 800;
$font-weight-700: 700;
$font-weight-500: 500;
$font-size-56: 56px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$line-height-70: 70px;
$line-height-51: 51px;
$line-height-40: 40px;
$line-height-28: 28px;
$line-height-26: 26px;
