@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* 
********  Layout ******** 
- Mobile: 375px
- Desktop: 1440px
********
*/

:root {
  --font-family: 'Outfit', sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: #1f3251;
  --transition: all 400ms linear;
  --shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

html {
  font-family: var(--font-family);
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 320px;
  max-height: 497px;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.content {
  text-align: center;
  padding: 0 16px;
  margin: 24px auto;
}

.heading {
  font-weight: 700;
  color: var(--dark-blue);
  margin-bottom: 16px;
}

.text {
  width: 256px;
  padding: 0 16px;
  font-weight: 400;
  color: var(--grayish-blue);
}

/* **** Attribution **** */

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -121.8px;
  color: #2c7dfa;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--grayish-blue);
  transition: var(--transition);
}

.attribution a:hover {
  cursor: pointer;
  color: var(--dark-blue);
}
