@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --family: 'Hanken Grotesk', sans-serif;
  --regular: 500;
  --bold: 700;
  --x-bold: 800;
  /* primary colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* gradients background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* gradients circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --white: #ffffff;
  --pale-blue: #ebf1ff;
  --lavender: #c8c7ff;
  --dark-grey-blue: #303b5a;
}

body {
  font-family: var(--family);
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--pale-blue);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.main {
  min-height: 100vh;
  background-color: var(--pale-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--white);
  border-radius: 32px;
  max-width: 736px;

  display: flex;
}

#container {
  padding: 40px;
  width: 50%;
}

.left {
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-radius: 32px;
}

.score-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-result__title {
  font-size: 24px;
  font-weight: var(--bold);
  color: var(--lavender);
}

.score-result__score {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  margin: 35px 0 28px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-result__final {
  color: var(--white);
  font-size: 72px;
  font-weight: var(--x-bold);
  line-height: 100%;
}

.score-result__possible {
  font-weight: var(--bold);
  color: var(--lavender);
  opacity: 0.5;
}

.info {
  text-align: center;
}

.info__title {
  font-size: 32px;
  font-weight: var(--bold);
  color: var(--white);
  margin-bottom: 14px;
}

.info__text {
  padding: 0 1em;
  color: var(--lavender);
}

.summary__title {
  font-size: 24px;
  font-weight: var(--bold);
}

.summary__result-container {
  margin: 28px 0 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 12px;
}

.summary__result-img-text {
  display: flex;
  gap: 12px;
}

.summary__result-percent {
  color: var(--dark-grey-blue);
}
.hundred {
  opacity: 0.5;
}

.reaction {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%),
    #f55;
  color: var(--light-red);
}
.memory {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%),
    #ffb21e;
  color: var(--orangey-yellow);
}
.verbal {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%),
    #00bb8f;
  color: var(--green-teal);
}
.visual {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%),
    #1125d6;
  color: var(--light-royal-blue);
}

.btn {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--dark-grey-blue);
  border: none;
  border-radius: 128px;
  padding: 0.75em 0;
  width: 100%;
  color: var(--white);
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
}

@media (max-width: 736px) {
  .card {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  #container {
    padding: 30px;
    width: 100%;
  }
  .left {
    border-radius: 0 0 32px 32px;
  }

  .score-result__title,
  .score-result__possible,
  .info__text,
  .summary__result-container {
    font-size: 16px;
  }
  .score-result__score {
    width: 140px;
    height: 140px;
    margin: 24px 0;
  }

  .score-result__final {
    font-size: 56px;
  }

  .info__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .summary__title {
    font-size: 24px;
  }

  .summary__result-container {
    margin: 24px 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--light-red);
}
