@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background: #fafafa;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.btn-teal {
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
  line-height: 26px;
  color: #fafafa;
  background-color: #4d96a9;
  border: none;
  border-radius: 29px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 200ms linear;
  display: block;
}
.btn-teal span {
  color: #8fe3f9;
}
.btn-teal:hover,
.btn-teal :focus {
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
  line-height: 26px;
  color: #fafafa;
  background-color: #71c0d4;
  border: none;
  border-radius: 29px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 200ms linear;
  display: block;
}

.btn-purple {
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
  line-height: 26px;
  color: #fafafa;
  background-color: #855fb1;
  border: none;
  border-radius: 29px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 200ms linear;
  display: block;
}
.btn-purple span {
  color: #d9b8ff;
}
.btn-purple:hover,
.btn-purple :focus {
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
  line-height: 26px;
  color: #fafafa;
  background-color: #b18bdd;
  border: none;
  border-radius: 29px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 200ms linear;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  padding: 3rem 0 3.375rem;
  margin: 0 auto;
}

.img-hero-left,
.img-hero-right {
  display: none;
}

.img-hero-tablet {
  max-width: 110%;
  margin: 0 -5%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem auto 2rem;
  width: 90%;
}
.banner-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  color: #28283d;
}
.banner-text {
  line-height: 26px;
  color: #87879d;
  margin: 1.5rem 0 2rem;
  max-width: 28em;
}
.banner-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pics {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}
.pics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}
.pics-img {
  border-radius: 8px;
}

.lollipop {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
.lollipop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lollipop-ball {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  color: #87879d;
  font-weight: 900;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .banner-actions {
    flex-direction: row;
  }
  .img-hero-tablet {
    width: 110%;
  }
  .banner-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
  }
  .lollipop {
    margin: 5rem 0 4.2rem;
  }
  .pics-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}
@media (min-width: 1170px) {
  .img-hero-tablet {
    display: none;
  }
  .img-hero-left,
  .img-hero-right {
    display: block;
  }
  .banner-text {
    margin: 34px 0 32px;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 88px;
  }
  .banner {
    width: unset;
  }
  .banner-text {
    max-width: 29em;
  }
  .img-hero-left {
    margin-left: -6%;
  }
  .img-hero-right {
    align-self: end;
    margin-left: 1rem;
  }
  .lollipop {
    margin: 6.8rem 0 4rem;
  }
}
@media (min-width: 1440px) {
  .img-hero-left,
  .img-hero-right {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
