@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 
**** Layout ****
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  --font-regular: 'Lexend Deca', sans-serif;
  --font-bold: 'Big Shoulders Display', cursive;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white-para: hsla(0, 0%, 100%, 0.75);
  --gray-b-h-b: hsl(0, 0%, 95%);
  --radius: 8px;
  --transition: all 400ms linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-regular);
  font-size: 15px;
}

body {
  background-color: var(--gray-b-h-b);
}

.main {
  margin: 5.4em 1.6em;
}

@media screen and (min-width: 1310px) {
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .main {
    display: flex;
    margin: 10em 18em;
  }

  article.sedans {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
  }
  article.luxury {
    border-bottom-left-radius: 0px;
    border-top-right-radius: var(--radius);
  }
  p.text {
    margin-bottom: 83px;
  }
}
.card {
  padding: 3em;
}

.sedans {
  background-color: var(--bright-orange);
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.img {
  margin-bottom: 35px;
}

.heading {
  font-family: var(--font-bold);
  font-size: 40px;
  text-transform: uppercase;
  color: var(--gray-b-h-b);
  margin-bottom: 25px;
}

.text {
  color: var(--white-para);
  line-height: 25px;
  margin-bottom: 25px;
}

.btn {
  padding: 0.75em 2em;
  border-radius: 25px;
  background-color: var(--gray-b-h-b);
  line-height: 1.5em;
  border: 2px solid transparent;
  font-family: var(--font-regular);
  font-size: 15px;
}

.btn:hover {
  background-color: transparent;
  color: var(--white-para);
  border: 2px solid var(--white-para);
  transition: var(--transition);
}
.btn-sedan {
  color: var(--bright-orange);
}
.btn-suv {
  color: var(--dark-cyan);
}
.btn-luxury {
  color: var(--very-dark-cyan);
}
