@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 
**** Layout ****
- Mobile: 375px
- Desktop: 1440px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-regular);
  font-size: 15px;
}

:root {
  --font-regular: 'Lexend Deca', sans-serif;
  --font-bold: 'Big Shoulders Display', cursive;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white-para: hsla(0, 0%, 100%, 0.75);
  --gray-b-h-b: hsl(0, 0%, 95%);
  --transition: all 400ms linear;
}

/* **** Attribution **** */

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -121.8px;
  color: var(--very-dark-cyan);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-cyan);
  transition: var(--transition);
}

.attribution a:hover {
  cursor: pointer;
  color: var(--bright-orange);
}
