@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 
**** Layout ****
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  --font-regular: 'Lexend Deca', sans-serif;
  --font-bold: 'Big Shoulders Display', cursive;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white-para: hsla(0, 0%, 100%, 0.75);
  --gray-b-h-b: hsl(0, 0%, 95%);
  --transition: all 400ms linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-regular);
  font-size: 15px;
}

body {
  background-color: var(--gray-b-h-b);
}

.card {
  padding: 48px;
}

.sedans {
  background-color: var(--bright-orange);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.img {
  margin-bottom: 35px;
}

.heading {
  font-family: var(--font-bold);
  font-size: 40px;
  text-transform: uppercase;
  color: var(--gray-b-h-b);
  margin-bottom: 25px;
}

.text {
  color: var(--white-para);
  line-height: 25px;
  margin-bottom: 25px;
}

.btn {
  width: 146px;
  height: 48px;
  border-radius: 25px;
  background-color: var(--gray-b-h-b);
  line-height: 25px;
  border: none;
  font-family: var(--font-regular);
  font-size: 15px;
}
.btn-sedan {
  color: var(--bright-orange);
}
.btn-suv {
  color: var(--dark-cyan);
}
.btn-luxury {
  color: var(--very-dark-cyan);
}
/* **** Attribution **** */

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -121.8px;
  color: var(--very-dark-cyan);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-cyan);
  transition: var(--transition);
}

.attribution a:hover {
  cursor: pointer;
  color: var(--bright-orange);
}
