@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --family: 'League Spartan', sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --dark-magenta: #4f214f;
  --pink: hsl(333, 80%, 67%);
  --gray-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--family);
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  min-height: 100vh;
  padding: 118px 165px;

  background-image: url('./images/bg-pattern-top-desktop.svg'),
    url('./images/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat no-repeat;
  background-position: top left, bottom right;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
}

.top {
  display: flex;
  margin-bottom: 4.75rem;
}
/* Top Left Side */
.top__title {
  width: 40%;
}

.top__title-main {
  font-size: 56px;
  line-height: 48px;
  color: var(--dark-magenta);
  letter-spacing: -2px;
  margin-bottom: 16px;
}

.top__title-text {
  font-size: 19px;
  font-weight: var(--medium);
  line-height: 25px;
  letter-spacing: -0.633px;
  color: var(--gray-magenta);
}

/* Top Right Side */
.top__stars {
  padding: 16px 0;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.top__stars-box {
  background-color: var(--light-magenta);
  border-radius: 8px;
  padding: 20px 32px;
  margin: 8px 0;
  min-width: 445px;

  display: flex;
  align-items: center;
  gap: 32.5px;
}

.star-box-1 {
  margin-right: 96px;
}

.star-box-2 {
  margin-right: 48px;
}

.star-container {
  display: flex;
  gap: 0.5rem;
}
.top__stars-text {
  font-size: 17px;
  font-weight: var(--bold);
  color: var(--dark-magenta);
}

/* Bottom */
.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.bottom__card {
  border-radius: 8px;
  background-color: var(--dark-magenta);
  padding: 40px 32px 35px;
  color: var(--white);
}

.card-2 {
  margin-top: 16px;
}

.card-3 {
  margin-top: 32px;
}

.bottom__card-name-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.avatar-container {
  width: 40px;
  height: 40px;
}

.avatar-container img {
  border-radius: 50%;
}

.heading-name,
.heading-verified,
.bottom__card-quote--text {
  font-size: 17px;
}

.heading-verified {
  font-weight: var(--regular);
  color: var(--pink);
}

.bottom__card-quote--text {
  font-weight: var(--medium);
  line-height: 22px;
  letter-spacing: -0.304px;
}

/* Media */
@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1250px) and (min-width: 900px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 1250px) {
  .main {
    padding: 82px 0;

    background-image: url('./images/bg-pattern-top-mobile.svg'),
      url('./images/bg-pattern-bottom-mobile.svg');
  }

  .top {
    margin-bottom: 49px;
  }

  .top,
  .bottom {
    flex-direction: column;
  }

  .bottom {
    gap: 16px;
  }

  .top__title {
    margin: 0 auto;
    margin-bottom: 40px;
    width: unset;
    text-align: center;
  }

  .top__title-main {
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -1.429px;
  }

  .top__stars {
    padding: unset;
    width: unset;
    align-items: center;
    gap: 1rem;
  }

  .top__stars-box {
    margin: unset;
    min-width: unset;
    width: 100%;

    flex-direction: column;
    gap: 1rem;
  }

  .card-2,
  .card-3 {
    margin-top: unset;
  }
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-magenta);
}
