@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --family: 'League Spartan', sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --dark-magenta: #4f214f;
  --pink: hsl(333, 80%, 67%);
  --gray-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--family);
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-magenta);
}
