@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

$orange: #fb7413;
$white: #ffffff;
$light-grey: #959eac;
$medium-grey: #7c8798;
$dark-blue: #252d37;
$very-dark-blue: #121417;
$bold: 700;

@mixin flex($display, $justify, $align: '') {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin box($width, $height, $background: '', $radius: '') {
  width: $width;
  height: $height;
  background-color: $background;
  border-radius: $radius;
}

@mixin font($color, $size, $weight: '', $line: '') {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  min-height: 100vh;
  background-color: $very-dark-blue;

  @include flex(flex, center, center);
}

.card {
  border-radius: 15px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  width: 88%;
  max-width: 412px;
  color: $white;

  &-container {
    padding: 1.5rem;
  }
}

.star {
  @include box(40px, 40px, $dark-blue, 50%);
  @include flex(flex, center, center);
}

.img {
  @include flex(flex, center);
  margin-top: 10px;
}

.title {
  @include font($white, 1.5rem, $bold);
  margin: 1rem 0 0.625rem;
}

.thanks {
  text-align: center;
}

.rating {
  @include flex(flex, center);

  & p {
    @include font($orange, 14px, '', 22px);
    width: fit-content;
    background-color: $dark-blue;
    border-radius: 22.5px;
    padding: 5px 12px;
    margin: 1.5rem 0;
  }
}

.text {
  @include font($light-grey, 14px, '', 22px);
}

.thanks-text {
  text-align: center;
  padding: 0 0.5rem;
}

.numbers {
  @include flex(flex, space-between);
  margin: 1.5rem 0;
}

.number {
  @include box(42px, 42px, $dark-blue, 50%);
  @include flex(flex, center, center);
  @include font($medium-grey, 14px, $bold, 1.5rem);
  letter-spacing: 0.175px;
  transition: 400ms all ease-in-out;

  &:hover {
    background-color: $orange;
    color: $white;
    cursor: pointer;
  }
}

.btn {
  width: 100%;
  border-radius: 22.5px;
  background-color: $orange;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
  border: none;
  font-family: inherit;
  letter-spacing: 1.867px;
  @include font($white, 14px, $bold, '');
  transition: 400ms all ease-in-out;

  &:hover {
    background-color: $white;
    color: $orange;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.active {
  background-color: $medium-grey;
  color: $white;
}

@media (min-width: 500px) {
  .card {
    border-radius: 30px;

    &-container {
      padding: 2rem;
    }
  }

  .title {
    font-size: 1.75rem;
    margin: 1.875rem 0 0.5rem;
  }

  .thanks {
    margin-top: 5px;
  }

  .text {
    font-size: 15px;
    line-height: 24px;
  }

  .thanks-text {
    margin-bottom: 0.53125rem;
  }

  .rating p {
    margin: 2rem 0;
  }

  .numbers {
    margin: 1.5rem 0 2rem;
  }

  .number {
    @include box(51px, 51px);
  }

  .btn {
    font-size: 15px;
    letter-spacing: 2px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $orange;
}
