@use 'variables' as v;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: v.$font-family;
  overflow-x: hidden;
}

@mixin font-sh($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-swh($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin position($top, $left) {
  top: $top;
  left: $left;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 1em 0;
  font-family: inherit;
  letter-spacing: v.$spacing-3;
  transition: all 200ms linear;
  cursor: pointer;
}
