@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

$font-family: 'IBM Plex Sans', sans-serif;
$font-size-88: 88px;
$font-size-64: 64px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$weight-700: 700;
$weight-400: 400;
$line-88: 88px;
$line-64: 64px;
$line-52: 52px;
$line-48: 48px;
$line-40: 40px;
$line-34: 34px;
$line-32: 32px;
$line-28: 28px;
$line-26: 26px;
$spacing-1: -1px;
$spacing-2: -0.455px;
$spacing-3: -0.18px;
$spacing-4: -0.727px;
