@use 'colors' as c;
@use 'typography' as t;
@use 'base' as b;

.main {
  min-height: 100vh;
  background: c.$white url('../../src/assets/bg-main-mobile.png') top -100vh left -50vw / cover
    no-repeat;
}

// heading

.heading-container {
  padding: 2rem 24px 0;
  color: c.$black;
}

.heading-logo {
  margin-bottom: 4rem;
}

.heading-title {
  font-size: t.$font-size-40;
  font-weight: t.$weight-700;
  line-height: t.$line-48;
  letter-spacing: t.$spacing-2;
  margin-bottom: 20px;
}

.heading-para {
  line-height: t.$line-26;
}

.black {
  background: c.$black;
  border-radius: 12px;
  margin-top: 10.375rem;
  position: relative;
}

.black-pattern {
  margin: 0 auto;
}

.phone {
  width: 60%;
  max-width: 209px;
  max-height: 430px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.orange {
  background-color: c.$orange;
  color: c.$white;
  padding: 3rem 2.25rem;
  border-radius: 12px;
  transform: translateY(-3rem);
  position: absolute;
}

.orange-info {
  margin-bottom: 2.25rem;
}

.orange-title {
  font-size: t.$font-size-32;
  font-weight: t.$weight-700;
  line-height: t.$line-40;
  margin-bottom: 12px;
}

.orange-text {
  font-size: t.$font-size-18;
  line-height: t.$line-28;
}

.orange-btns {
  padding-left: 6px;
}

.btn-apple {
  margin-bottom: 1rem;
  background-color: c.$black;
  color: c.$white;
}
.btn-apple:hover,
.btn-apple:focus {
  background-color: c.$aqua;
}
.btn-android {
  background-color: c.$white;
  color: c.$black;
}
.btn-android:hover,
.btn-android:focus {
  background-color: c.$yellow;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 1em 0;
  font-family: inherit;
  font-size: t.$font-size-18;
  font-weight: t.$weight-700;
  line-height: t.$line-32;
  letter-spacing: t.$spacing-3;
  cursor: pointer;
  transition: all 200ms linear;
}

.cost {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 32px;
}

.price {
  font-size: t.$font-size-64;
  font-weight: t.$weight-700;
  line-height: t.$line-52;
}

.month {
  font-size: t.$font-size-20;
  line-height: t.$line-32;
  letter-spacing: t.$spacing-3;
}

.footer {
  color: c.$black;
  padding: 1rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 35rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-para {
  line-height: t.$line-26;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon-btn {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 200ms linear;
}

.fb:hover,
.fb:focus {
  color: orange;
}
.instagram:hover,
.instagram:focus {
  background: linear-gradient(135deg, #833ab4, #e1306c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.twitter:hover,
.twitter:focus {
  color: #1da1f2;
}

.bg-pattern-1 {
  display: none;
}

@media (min-width: 600px) {
  .main {
    background: c.$white url('../../src/assets/bg-main-tablet.png') top -500px left -800px / cover
      no-repeat;
  }
  .container {
    width: 92%;
    max-width: 1110px;
    margin: auto;
    padding: 4rem 0 5rem;
  }

  .heading-container,
  .footer {
    padding: unset;
  }

  .heading-logo {
    margin-bottom: 6rem;
  }

  .heading-container {
    width: 75%;
  }

  .heading-title {
    font-size: 64px;
    line-height: t.$line-64;
    letter-spacing: t.$spacing-4;
    margin-bottom: 28px;
  }

  .heading-para {
    font-size: t.$font-size-18;
    line-height: t.$line-28;
  }

  .phone {
    top: -130px;
    left: 29%;
    max-width: 270px;
    max-height: 556px;
  }

  .black {
    height: 600px;
    margin-top: 15.5rem;
  }

  .orange {
    max-width: 399px;
    top: 44%;
    left: 35%;
    padding: 3rem;
  }

  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
  }

  .footer-para {
    width: 25em;
  }

  .bg-pattern-1 {
    display: block;
    position: absolute;
    top: -4%;
    right: -4%;
    width: 250px;
  }
}
@media (min-width: 1100px) {
  .main {
    background: c.$white url('../../src/assets/bg-main-desktop.png') top -200px left -200px / cover
      no-repeat;
  }
  .bg-pattern-1 {
    right: 0;
  }

  .heading-title {
    max-width: 50rem;
  }

  .black-pattern {
    margin: 0 33%;
  }

  .phone {
    left: 28%;
  }

  .orange {
    max-width: 446px;
    padding: 54px 54px 48px;
    top: 30%;
    left: 53%;

    &-info {
      margin-bottom: 40px;
    }

    &-title {
      font-size: t.$font-size-40;
      line-height: t.$line-52;
      margin-bottom: 22px;
    }

    &-text {
      font-size: t.$font-size-20;
      line-height: t.$line-34;
    }

    & .cost {
      margin-bottom: 46px;
    }
  }

  .copyright {
    flex-direction: row;
    gap: 9rem;
  }
}
