@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  min-height: 100vh;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1170px;
}

.heading {
  padding: 2.25rem 1rem;
  display: flex;
  justify-content: space-between;
}

.heading .btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 28px;
  border-radius: 28px;
  border: none;
  color: #fff;
  padding: 0em 1.5em;
  cursor: pointer;
  background-color: #13183f;
  transition: all 200ms linear;
}
.heading .btn:hover {
  cursor: pointer;
  background: #666ca3;
}

.logo-light {
  width: 89px;
  height: 35px;
}

.img-logo-light {
  height: 100%;
  object-fit: contain;
}

.footer {
  background-color: #13183f;
  padding: 2.25rem 1rem;
  display: flex;
  justify-content: space-between;
}

.footer .btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 28px;
  border-radius: 28px;
  border: none;
  color: #fff;
  padding: 0 1.5em;
  cursor: pointer;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}
.footer .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.hero-title {
  font-size: 40px;
  font-weight: 800;
  color: #13183f;
}
.hero-text {
  line-height: 26px;
  color: #83869a;
  margin: 1.5rem 0 1.5rem;
}
.hero .btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 26px;
  border-radius: 31.5px;
  border: none;
  color: #fff;
  padding: 0.75em 1.75em;
  cursor: pointer;
  background: linear-gradient(180deg, #f02aa6 0.04%, #ff6f48 100%);
}

.cards {
  margin-bottom: 4.125rem;
  display: grid;
  justify-items: center;
  row-gap: 40px;
}

.first-card {
  background: linear-gradient(180deg, #f02aa6 0.04%, #ff6f48 100%);
  color: #fff;
  padding: 24px 28px 32px;
  border-radius: 10px;
}

.card {
  position: relative;
  padding: 28px 32px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}

.card-img {
  position: absolute;
  top: -28px;
  left: 28px;
}

.card-title {
  color: #13183f;
  font-size: 20px;
  font-weight: 800;
  margin-top: 1.5rem;
}

.card-text {
  line-height: 26px;
  color: #83869a;
  margin: 1rem 0 1.5rem;
}

.card-action {
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  transition: all 200ms linear;
}
.card-action:hover {
  cursor: pointer;
  color: #ffa7c3;
}

@media (min-width: 700px) {
  .hero-info {
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .first-card {
    padding: 56px 32px;
  }
  .footer,
  .heading {
    padding: 2.25rem 2.5rem;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  .card,
  .first-card {
    border-radius: 15px;
  }
  .first-card-content {
    font-size: 32px;
  }
  .card-title {
    font-size: 24px;
    margin: 32px 0 0;
  }
  .card-text {
    margin: 1.5rem 0;
    line-height: 28px;
  }
  .card:nth-child(3) .card-text,
  .card:nth-child(4) .card-text {
    margin: 1.5rem 0 52px;
  }
  .footer,
  .heading {
    padding: 2.25rem 10.3rem;
  }
  .logo-light {
    width: 114px;
    height: 45px;
  }
}

/*# sourceMappingURL=main.css.map */
