@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;
  background: #fcfaf9 url("../../src/assets/bg-main-mobile.png") top -100vh left -50vw/cover no-repeat;
}

.heading-container {
  padding: 2rem 24px 0;
  color: #191826;
}

.heading-logo {
  margin-bottom: 4rem;
}

.heading-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.455px;
  margin-bottom: 20px;
}

.heading-para {
  line-height: 26px;
}

.black {
  background: #191826;
  border-radius: 12px;
  margin-top: 10.375rem;
  position: relative;
}

.black-pattern {
  margin: 0 auto;
}

.phone {
  width: 60%;
  max-width: 209px;
  max-height: 430px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.orange {
  background-color: #fa7453;
  color: #fcfaf9;
  padding: 3rem 2.25rem;
  border-radius: 12px;
  transform: translateY(-3rem);
  position: absolute;
}

.orange-info {
  margin-bottom: 2.25rem;
}

.orange-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}

.orange-text {
  font-size: 18px;
  line-height: 28px;
}

.orange-btns {
  padding-left: 6px;
}

.btn-apple {
  margin-bottom: 1rem;
  background-color: #191826;
  color: #fcfaf9;
}

.btn-apple:hover,
.btn-apple:focus {
  background-color: #66e2dc;
}

.btn-android {
  background-color: #fcfaf9;
  color: #191826;
}

.btn-android:hover,
.btn-android:focus {
  background-color: #ffb964;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 1em 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  cursor: pointer;
  transition: all 200ms linear;
}

.cost {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 32px;
}

.price {
  font-size: 64px;
  font-weight: 700;
  line-height: 52px;
}

.month {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.footer {
  color: #191826;
  padding: 1rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 35rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-para {
  line-height: 26px;
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon-btn {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 200ms linear;
}

.fb:hover,
.fb:focus {
  color: orange;
}

.instagram:hover,
.instagram:focus {
  background: linear-gradient(135deg, #833ab4, #e1306c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.twitter:hover,
.twitter:focus {
  color: #1da1f2;
}

.bg-pattern-1 {
  display: none;
}

@media (min-width: 600px) {
  .main {
    background: #fcfaf9 url("../../src/assets/bg-main-tablet.png") top -500px left -800px/cover no-repeat;
  }
  .container {
    width: 92%;
    max-width: 1110px;
    margin: auto;
    padding: 4rem 0 5rem;
  }
  .heading-container,
  .footer {
    padding: unset;
  }
  .heading-logo {
    margin-bottom: 6rem;
  }
  .heading-container {
    width: 75%;
  }
  .heading-title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727px;
    margin-bottom: 28px;
  }
  .heading-para {
    font-size: 18px;
    line-height: 28px;
  }
  .phone {
    top: -130px;
    left: 29%;
    max-width: 270px;
    max-height: 556px;
  }
  .black {
    height: 600px;
    margin-top: 15.5rem;
  }
  .orange {
    max-width: 399px;
    top: 44%;
    left: 35%;
    padding: 3rem;
  }
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
  }
  .footer-para {
    width: 25em;
  }
  .bg-pattern-1 {
    display: block;
    position: absolute;
    top: -4%;
    right: -4%;
    width: 250px;
  }
}
@media (min-width: 1100px) {
  .main {
    background: #fcfaf9 url("../../src/assets/bg-main-desktop.png") top -200px left -200px/cover no-repeat;
  }
  .bg-pattern-1 {
    right: 0;
  }
  .heading-title {
    max-width: 50rem;
  }
  .black-pattern {
    margin: 0 33%;
  }
  .phone {
    left: 28%;
  }
  .orange {
    max-width: 446px;
    padding: 54px 54px 48px;
    top: 30%;
    left: 53%;
  }
  .orange-info {
    margin-bottom: 40px;
  }
  .orange-title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 22px;
  }
  .orange-text {
    font-size: 20px;
    line-height: 34px;
  }
  .orange .cost {
    margin-bottom: 46px;
  }
  .copyright {
    flex-direction: row;
    gap: 9rem;
  }
}

/*# sourceMappingURL=main.css.map */
