$teal: #4d96a9;
$purple: #855fb1;
$black: #28283d;
$gray: #87879d;
$white: #fafafa;
$light-teal: #8fe3f9;
$light-purple: #d9b8ff;
$teal-hover: #71c0d4;
$purple-hover: #b18bdd;

$font-size-64: 64px;
$font-size-40: 40px;
$font-size-18: 18px;
$font-size-16: 16px;

$font-weight-900: 900;
$font-weight-500: 500;

$line-height-64: 64px;
$line-height-44: 44px;
$line-height-26: 26px;
