@use 'base' as b;
@use 'variables' as v;

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  padding: 3rem 0 3.375rem;
  margin: 0 auto;
}

.img-hero-left,
.img-hero-right {
  display: none;
}

.img-hero-tablet {
  max-width: 110%;
  margin: 0 -5%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem auto 2rem;
  width: 90%;

  &-title {
    @include b.fonts(v.$font-size-40, v.$font-weight-900, v.$line-height-44);
    color: v.$black;
  }
  &-text {
    line-height: v.$line-height-26;
    color: v.$gray;
    margin: 1.5rem 0 2rem;
    max-width: 28em;
  }
  &-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.pics {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  &-img {
    border-radius: 8px;
  }
}

.lollipop {
  display: flex;
  justify-content: center;
  margin: 4rem 0;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-ball {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.25);

    color: v.$gray;
    font-weight: v.$font-weight-900;
    line-height: v.$line-height-26;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text {
  width: 90%;
  margin: 4rem auto;
  max-width: 1080px;
  text-align: center;

  &-container {
    max-width: 573px;
  }

  &-subtitle {
    @include b.fonts(v.$font-size-16, v.$font-weight-900, v.$line-height-26);
    color: v.$teal;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &-title {
    color: v.$black;
    @include b.fonts(v.$font-size-32, v.$font-weight-900, v.$line-height-36);
    margin: 1.5rem 0 2rem;
    padding: 0 1rem;
  }

  &-para {
    color: v.$gray;
    line-height: v.$line-height-26;
  }
}

@media (min-width: 576px) {
  .banner-actions {
    flex-direction: row;
  }
  .img-hero-tablet {
    width: 110%;
  }

  .banner-title {
    @include b.fonts(v.$font-size-48, v.$font-weight-900, v.$line-height-48);
  }

  .lollipop {
    margin: 5rem 0 4.2rem;
  }

  .pics-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .text {
    display: flex;
    justify-content: center;

    &-title {
      font-size: v.$font-size-40;
      line-height: v.$line-height-44;
      padding: 0 4rem;
      margin-top: 16px;
    }
  }
}

@media (min-width: 1170px) {
  .img-hero-tablet {
    display: none;
  }

  .img-hero-left,
  .img-hero-right {
    display: block;
  }

  .banner-text {
    margin: 34px 0 32px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 88px;
  }
  .banner {
    width: unset;
  }
  .banner-text {
    max-width: 29em;
  }

  .img-hero-left {
    margin-left: -6%;
  }

  .img-hero-right {
    align-self: end;
    margin-left: 1rem;
  }

  .lollipop {
    margin: 6.8rem 0 4rem;
  }

  .text-para {
    font-size: v.$font-size-18;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1440px) {
  .img-hero-left,
  .img-hero-right {
    margin: 0;
  }
}
