@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Red Hat Display', sans-serif;
  --pale-blue: #e0e8ff;
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --radius: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h3 {
  margin: 0;
  font-weight: 900;
}

.img {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--very-pale-blue);
}

.inner-container {
  width: 85%;
  max-width: 327px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.container {
  padding: 32px;
}

.card {
  text-align: center;
}

.card__title {
  font-size: 22px;
}

.card__desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--desaturated-blue);
}

.card__info {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
  padding: 16px;
  margin-bottom: 24px;
}

.card__info-title {
  font-size: 14px;
}

.card__info-price {
  margin: 0;
  font-size: 14px;
  color: var(--desaturated-blue);
}

.card__info-link {
  font-weight: 700;
  font-size: 13px;
  color: var(--bright-blue);
  margin-left: auto;
}

.btn {
  width: 100%;
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  padding: 1em 0;
  border: transparent;
  border-radius: 11px;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  margin-bottom: 24px;
}

.cancel-link {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-size: 15px;
  font-weight: 900;
}

/* 
***********
Attribution
***********
*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
