@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Red Hat Display', sans-serif;
  --pale-blue: #e0e8ff;
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: #f7f9ff;
  --desaturated-blue: #7280a7;
  --dark-blue: #1f2f56;
  --radius: 20px;
  --btn-active: #766cf1;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h3 {
  margin: 0;
  font-weight: 900;
}

.img {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: no-repeat url('./images/pattern-background-mobile.svg'), var(--pale-blue);
  background-size: contain;
}

.card {
  margin: 0 0.5rem;
  max-width: 327px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);

  border-radius: var(--radius);
  background-color: white;
}
.container {
  text-align: center;
  padding: 32px;
}

.card__title {
  font-size: 22px;
}

.card__desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--desaturated-blue);
}

.card__info {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
  padding: 16px;
  margin-bottom: 24px;
}

.card__info-title {
  font-size: 14px;
}

.card__info-price {
  margin: 0;
  font-size: 14px;
  color: var(--desaturated-blue);
}

.card__info-link {
  font-weight: 700;
  font-size: 13px;
  color: var(--bright-blue);
  margin-left: auto;
}

.btn {
  width: 100%;
  background-color: var(--bright-blue);
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  padding: 1em 0;
  border: transparent;
  border-radius: 11px;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  margin-bottom: 24px;
}

.card__info-link:hover {
  cursor: pointer;
  color: var(--btn-active);
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-active);
}

.cancel-link {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-size: 15px;
  font-weight: 900;
}

.cancel-link:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

@media (min-width: 600px) {
  .outer-container {
    background: repeat-x url('./images/pattern-background-desktop.svg'), var(--pale-blue);
  }
  .card {
    margin: 0;
    max-width: 450px;
  }
  .container {
    padding: 48px;
  }

  .card__title {
    font-size: 28px;
  }

  .card__desc {
    font-size: 16px;
    line-height: 26px;
  }

  .card__info {
    padding: 24px;
    margin-bottom: 32px;
  }

  .card__info-title,
  .card__info-price {
    font-size: 16px;
  }
  .card__info-link {
    font-size: 14px;
  }

  .btn {
    margin-bottom: 32px;
  }
}

/* 
***********
Attribution
***********
*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
