@use 'base' as *;

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);

  position: relative;
  top: -10vh;

  @media (min-width: 1100px) {
    top: -18vh;
  }
}

.content {
  padding: 1.5rem;
  @include screen() {
    padding: 2.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  @include screen() {
    margin-bottom: 2rem;
  }
}

.line {
  height: 1px;
  background-color: $light-pink;
  margin: 1.25rem 0;
  @include screen() {
    margin: 1.5rem 0;
  }
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
}
.attribution a {
  color: $dark-purple;
}
