@font-face {
  font-family: 'Fraunces-Variable';
  src: url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: 'SOFT' 0, 'WONK' 0;
}

@font-face {
  font-family: 'Manrope-Variable';
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 200 800;
  font-style: normal;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Fraunces-Variable', serif;
}
