@use 'typography' as *;
@use 'base' as *;
@use 'media' as *;

.main {
  min-height: 100vh;
}

.container {
  max-width: 1114px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
  max-width: 1114px;
  margin: 0 auto;

  &-text {
    color: $white;
    border-bottom: 3px solid $secondary;
    width: fit-content;
    font-weight: 700;
    letter-spacing: -0.16px;
    line-height: 2;
    transition: $transition;
    // @media (min-width: 992px) {
    //   @include font(18px, 32px);
    // }
  }

  &-text:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.purple {
  background-color: $primary;
  position: relative;

  & .top {
    width: 100%;
    position: absolute;
    bottom: -79px;
    left: 0;
  }
}

.hero {
  padding: 4rem 1rem;
  position: relative;

  &-title {
    @include font(50px, 1);
    color: $white;
    text-align: center;
    margin-bottom: 2.5rem;
    transition: $transition;
    // @media (min-width: 992px) {
    //   font-size: 80px;
    // }
  }

  &-btn {
    width: fit-content;
    margin: 0 auto 4rem;
  }
}

.btn {
  @include btn();
}

.btn:hover,
.btn:focus {
  color: $secondary;
  background-color: transparent;
  outline: 2px solid $secondary;
}

.pink {
  background-color: $rose;
  padding-bottom: 3rem;
  margin-bottom: 4rem;

  &-curved-line {
    position: relative;

    & .lower {
      position: absolute;
      width: 100%;
      bottom: -128px;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 85%;
  max-width: 1114px;
  margin: 0 auto;
  // @media (min-width: 992px) {
  //   flex-direction: row;
  //   justify-content: space-between;
  //   gap: 26px;
  //   width: 95%;
  // }
}

.info {
  text-align: center;
  // @media (min-width: 992px) {
  //   text-align: center;
  //   flex-direction: column;
  // }
}

.info-number {
  width: 48px;
  height: 46px;
  border-radius: 30.5px;
  border-radius: 99px;
  border: 1px solid $dark-gray;
  margin: 0 auto 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    @include font(1.25rem, 36px);
    color: $primary;
  }
}

.info-text-title {
  color: $primary;
  @include font(1.75rem, 36px);
  margin-bottom: 1rem;
  // @media (min-width: 992px) {
  //   @include font(2rem, 40px);
  //   margin-bottom: 1.75rem;
  // }
}

.info-text-desc {
  color: $primary;
  // @media (min-width: 992px) {
  //   @include font(18px, 32px);
  // }
}

.phone {
  margin: 0 auto;
  width: 90%;
  transform: translate(0, -90px);
  max-width: 715px;
}

.founder {
  margin: 10rem auto 0;
  width: 90%;
  max-width: 1114px;
  // @media (min-width: 992px) {
  //   margin: 10rem auto -10.5rem;
  // }
  &-image {
    width: 281px;
    height: 281px;
    margin-inline: auto;
    // @media (min-width: 992px) {
    //   width: 477px;
    //   height: 477px;
    // }
  }
  &-info {
    background-color: $primary;
    color: $white;
    padding: 2rem;
    text-align: center;
    transform: translate(0, -3.5rem);
    // @media (min-width: 992px) {
    //   max-width: 730px;
    //   padding: 4rem;
    //   transform: translate(0, -18.5rem);
    // }
  }
  &-title {
    @include font(2rem, 3rem);
    // @media (min-width: 992px) {
    //   @include font(3.5rem, 4rem);
    // }
  }
  &-text {
    margin: 1rem 0 1.5rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 4rem;

  &-icons {
    width: 116px;
    display: flex;
    justify-content: space-between;

    & path:hover {
      cursor: pointer;
      fill: $primary;
    }
  }
}

@include tablet();
@include desktop();
