@use 'typography' as *;
@use 'base' as *;

.main {
  min-height: 100vh;
}

.container {
  max-width: 1114px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  max-width: 1114px;
  margin: 0 auto;

  &-text {
    color: $white;
    border-bottom: 3px solid $secondary;
    width: fit-content;
    font-weight: 700;
    letter-spacing: -0.16px;
    line-height: 2;
    transition: $transition;
    @media (min-width: 992px) {
      @include font(18px, 32px);
    }
  }

  &-text:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.purple {
  background-color: $primary;
  position: relative;

  & .top {
    width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 1;
  }
}

.hero {
  padding: 4rem 1rem;
  position: relative;
  @media (min-width: 598px) {
    padding: 3.5rem 1.15rem 3.25rem;
  }

  &-title {
    @include font(50px, 1);
    color: $white;
    text-align: center;
    margin-bottom: 2.5rem;
    transition: $transition;
    @media (min-width: 598px) {
      font-size: 60px;
    }
    @media (min-width: 992px) {
      font-size: 80px;
    }
  }

  &-btn {
    width: fit-content;
    margin: 0 auto;
  }

  & .btn {
    @include btn();
  }

  & .btn:hover,
  .btn:focus {
    color: $secondary;
    background-color: transparent;
    outline: 2px solid $secondary;
  }
}

.pink {
  background-color: pink;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 85%;
  margin: 0 auto;
  @media (min-width: 598px) {
    width: 72%;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
    width: 85%;
  }
}

.info {
  text-align: center;
  @media (min-width: 598px) {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  @media (min-width: 992px) {
    text-align: center;
    flex-direction: column;
  }
}

.info-number {
  width: 48px;
  height: 46px;
  border-radius: 30.5px;
  border-radius: 99px;
  border: 1px solid $dark-gray;
  margin: 0 auto 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    @include font(1.25rem, 36px);
    color: $primary;
  }
}

.info-text-title {
  color: $primary;
  @include font(1.75rem, 36px);
  margin-bottom: 1rem;
  @media (min-width: 992px) {
    @include font(2rem, 40px);
    margin-bottom: 1.75rem;
  }
}

.info-text-desc {
  color: $primary;
  @media (min-width: 992px) {
    @include font(18px, 32px);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;

  &-icons {
    width: 116px;
    display: flex;
    justify-content: space-between;

    & path:hover {
      cursor: pointer;
      fill: $primary;
    }
  }
}

// .pink {
//   position: relative;

//   & .lower {
//     width: 100%;
//     position: absolute;
//     top: 100;
//   }
// }
