@use 'typography' as *;
@use 'base' as *;
@use 'colors' as *;

.main {
  min-height: 100vh;
}

.container {
  max-width: 1114px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  max-width: 1114px;
  margin: 0 auto;

  &-text {
    color: $white;
    border-bottom: 3px solid $secondary;
    width: fit-content;
    font-weight: 700;
    letter-spacing: -0.16px;
    line-height: 2;
    transition: $transition;
    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-text:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.purple {
  background-color: $primary;
  position: relative;

  & .top {
    width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 1;
  }
}

.hero {
  padding: 4rem 1rem;
  position: relative;
  @media (min-width: 598px) {
    padding: 3.5rem 1.15rem 3.25rem;
  }

  &-title {
    color: $white;
    text-align: center;
    font-family: 'Fraunces 144pt';
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 2.5rem;
    transition: $transition;
    @media (min-width: 598px) {
      font-size: 60px;
    }
    @media (min-width: 992px) {
      font-size: 80px;
    }
  }

  &-btn {
    width: fit-content;
    margin: 0 auto;
  }

  & .btn {
    color: $primary;
    background-color: $secondary;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: $transition;
  }

  & .btn:hover,
  .btn:focus {
    color: $secondary;
    background-color: transparent;
    outline: 2px solid $secondary;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;

  &-icons {
    width: 116px;
    display: flex;
    justify-content: space-between;

    & path:hover {
      cursor: pointer;
      fill: $primary;
    }
  }
}

// .pink {
//   position: relative;

//   & .lower {
//     width: 100%;
//     position: absolute;
//     top: 100;
//   }
// }
