@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --open-sans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --transition: all 400ms linear;
}

img {
  max-width: 100%;
  display: block;
}

.outer-container {
  max-width: 1200px;
}

.main {
  min-height: 100vh;
  background: var(--violet) url(./images/bg-mobile.svg) no-repeat;
  background-size: contain;
  padding: 40px;
}

.logo {
  margin-bottom: 70px;
}

.logo-img {
  width: 41.5%;
}

.illustration {
  margin-bottom: 3.75rem;
}

.info {
  color: #fff;
  text-align: center;
}

.title {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 1rem;
}

.desc {
  font-family: var(--open-sans);
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  font-family: var(--poppins);
  font-size: 0.75rem;
  line-height: 18px;
  color: var(--violet);
  border: none;
  border-radius: 20px;
  padding: 0.75em 0;
  width: 68%;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);
  margin-bottom: 4rem;
  transition: var(--transition);
}
.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  font-size: 1.75rem;
  color: #fff;
  transition: var(--transition);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--soft-magenta);
  color: #fff;
}

.icon:hover,
.icon:focus {
  color: var(--soft-magenta);
}

@media (min-width: 900px) {
  .main {
    background: var(--violet) url(./images/bg-desktop.svg) center/cover no-repeat;
    padding: 60px;

    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    gap: 40px;
  }

  .info {
    width: 40%;
    margin: auto;
  }

  .logo {
    margin-bottom: 104px;
  }

  .logo-img {
    width: 20%;
  }

  .illustration {
    margin: 0;
  }

  .info {
    text-align: left;
    margin: auto;
  }
  .title {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-bottom: 1.5rem;
  }
  .desc {
    font-size: 18px;
    line-height: 27px;
  }

  .btn {
    width: 32%;
  }

  .icons {
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--violet);
}
