@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-fraunces: 'Fraunces', serif;
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --very-dark-blue: #1c232b;
  --dark-grayish-blue: #6c7289;
  --white: #ffffff;
  --hover: #1a4032;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: var(--font-family-montserrat);
  background-color: var(--cream);
}

img {
  max-width: 100%;
  display: block;
}

.main {
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  width: 92%;
  margin: 28px auto;
}

.img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.info-container {
  padding: 32px;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  margin-bottom: 12px;
}

.title {
  font-size: 2rem;
  font-family: var(--font-family-fraunces);
  color: var(--very-dark-blue);
  margin-bottom: 16px;
}

.desc {
  color: var(--dark-grayish-blue);
  line-height: 23px;
  margin-bottom: 24px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}

.current-price {
  font-size: 32px;
  font-family: var(--font-family-fraunces);
  font-weight: 700;
  color: var(--dark-cyan);
}

.previous-price {
  font-size: 13px;
  color: var(--dark-grayish-blue);
  line-height: 23px;
}

.btn {
  width: 100%;
  border: none;
  background-color: #3c8067;
  color: var(--white);
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  border-radius: 8px;
  transition: all 300ms linear;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--hover);
}

.btn-content {
  margin: 1.125em auto;
  display: flex;
  justify-content: center;
  gap: 19px;
}

@media (min-width: 625px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 600px;
    margin: 0;
    display: flex;
  }

  .img-container {
    border-top-right-radius: 0;
  }

  .img {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .info-container {
    width: 82%;
  }

  .subtitle {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 24px;
  }
  .desc {
    margin-bottom: 29px;
  }
  .price-container {
    margin-bottom: 30px;
  }
}
/* 
Attribution
*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--dark-cyan);
}
.attribution a:hover,
.attribution a:focus {
  color: var(--hover);
}
