@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --family: 'Poppins', sans-serif;
  --light: 200;
  --regular: 400;
  --bold: 600;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: #4d4f61;
  --gray: hsl(229, 6%, 66%);
  --light-gray: rgb(250, 250, 250);
}

body {
  font-family: var(--family);
  font-size: 15px;
  color: var(--dark-blue);
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
}

.main {
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  place-items: center;
  gap: 76px;
  width: 90%;
  margin: 85px 0;
}

.heading {
  max-width: 540px;
  text-align: center;
  margin: auto;
}

.sub-title,
.title {
  font-size: 24px;
  letter-spacing: 0.167px;
}
.sub-title {
  font-weight: var(--light);
}
.title {
  font-weight: var(--bold);
  margin-bottom: 16px;
}

.desc {
  line-height: 25px; /* 166.667% */
  letter-spacing: 0.104px;
  opacity: 0.5;
}

.outer-card-container,
.inner-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  padding: 28px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  max-width: 350px;
}

.card-title {
  font-size: 20px;
  font-weight: var(--bold);
}

.card-text {
  font-size: 13px;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.09px;
  opacity: 0.5;
  margin-bottom: 33px;
}

.img {
  width: 57px;
  height: 57px;
}

.supervisor {
  border-top: 3.5px solid var(--cyan);
}
.team {
  border-top: 3.5px solid var(--red);
}
.karma {
  border-top: 3.5px solid var(--orange);
}
.calculator {
  border-top: 3.5px solid var(--blue);
}

@media (min-width: 1200px) {
  .container {
    margin: unset;
    gap: 64px;
    width: 95%;
  }

  .card {
    padding: 32px;
    min-width: 350px;
  }

  .sub-title,
  .title {
    font-size: 36px;
    letter-spacing: 0.25px;
  }

  .outer-card-container {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .img {
    width: 64px;
    height: 64px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--red);
}
