@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
**** Layouts ****
Mobile - 375px;
Desktop - 1445px;
*/

:root {
  --font-family: 'Outfit', sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 600;
  --para: 18px;
  --clr-primary: hsl(215, 51%, 70%);
  --clr-secondary: hsl(178, 100%, 50%);
  --bg-main: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --transition: all 400ms linear;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 18px;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: var(--bg-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **** Card **** */

.card {
  width: 327px;
  padding: 24px;
  border-radius: 15px;
  background: var(--bg-card);
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 376px) {
  .card {
    width: 350px;
  }
}

.main-img {
  border-radius: 8px;
  margin-bottom: 24px;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--clr-secondary);
  opacity: 0;
  transition: var(--transition);
}

.overlay:hover {
  cursor: pointer;
  opacity: 0.5;
}

.overlay:hover ~ .eye {
  display: block;
}

.eye {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: none;
}

.title {
  color: var(--white);
  font-weight: var(--weight-bold);
  margin-bottom: 12px;
  transition: var(--transition);
}

.title:hover {
  cursor: pointer;
  color: var(--clr-secondary);
}
.text {
  color: var(--clr-primary);
  font-weight: 300;
}

.icon-container {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}

.etherium {
  width: 11px;
  height: 18px;
}

.etherium-text {
  font-size: 15px;
  font-weight: var(--weight-bold);
  color: var(--clr-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
}

.clock {
  width: 16px;
  height: 16px;
  color: var(--clr-primary);
}

.clock-text {
  font-size: 15px;
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  gap: 7px;
}

.line {
  height: 1px;
  background-color: var(--line);
  width: 100%;
  margin-bottom: 16px;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.author-pic {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 33px;
}

.creation {
  display: flex;
  gap: 5px;
  color: var(--clr-primary);
  font-size: 15px;
}

.name {
  color: var(--white);
  font-size: 15px;
  transition: var(--transition);
}

.name:hover {
  cursor: pointer;
  color: var(--clr-secondary);
}

/* **** Attribution **** */

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -121.8px;
  color: var(--white);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  transition: var(--transition);
}

.attribution a:hover {
  cursor: pointer;
  color: var(--clr-secondary);
}
