@font-face {
  font-family: "Fraunces-Variable";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
@font-face {
  font-family: "Manrope-Variable";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 200 800;
  font-style: normal;
}
body {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Fraunces-Variable", serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.75;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Fraunces-Variable", serif;
  font-weight: 600;
}

.main {
  min-height: 100vh;
}

.container {
  max-width: 1114px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
  max-width: 1114px;
  margin: 0 auto;
}
.header-text {
  color: #ffffff;
  border-bottom: 3px solid #44ffa1;
  width: fit-content;
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 2;
  transition: all 300ms ease-in-out;
}
@media (min-width: 992px) {
  .header-text {
    font-size: 18px;
    line-height: 32px;
  }
}
.header-text:hover {
  cursor: pointer;
  color: #44ffa1;
}

.purple {
  background-color: #24053e;
  position: relative;
}
.purple .top {
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 0;
}

.hero {
  padding: 4rem 1rem;
  position: relative;
}
@media (min-width: 598px) {
  .hero {
    padding: 3.5rem 1.15rem 3.25rem;
  }
}
.hero-title {
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  transition: all 300ms ease-in-out;
}
@media (min-width: 598px) {
  .hero-title {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .hero-title {
    font-size: 80px;
  }
}
.hero-btn {
  width: fit-content;
  margin: 0 auto 4rem;
}

.btn {
  color: #24053e;
  background-color: #44ffa1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #44ffa1;
  background-color: transparent;
  outline: 2px solid #44ffa1;
}

.pink {
  background-color: #fcf8ff;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}
.pink-curved-line {
  position: relative;
}
.pink-curved-line .lower {
  position: absolute;
  width: 100%;
  bottom: -128px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 85%;
  max-width: 1114px;
  margin: 0 auto;
}
@media (min-width: 598px) {
  .info-container {
    width: 72%;
  }
}
@media (min-width: 992px) {
  .info-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
    width: 95%;
  }
}

.info {
  text-align: center;
}
@media (min-width: 598px) {
  .info {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .info {
    text-align: center;
    flex-direction: column;
  }
}

.info-number {
  width: 48px;
  height: 46px;
  border-radius: 30.5px;
  border-radius: 99px;
  border: 1px solid #584d62;
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-number span {
  font-size: 1.25rem;
  line-height: 36px;
  color: #24053e;
}

.info-text-title {
  color: #24053e;
  font-size: 1.75rem;
  line-height: 36px;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .info-text-title {
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 1.75rem;
  }
}

.info-text-desc {
  color: #24053e;
}
@media (min-width: 992px) {
  .info-text-desc {
    font-size: 18px;
    line-height: 32px;
  }
}

.phone {
  margin: 0 auto;
  width: 90%;
  transform: translate(0, -90px);
  max-width: 715px;
}
@media (min-width: 598px) {
  .phone {
    transform: translate(35px, -110px);
  }
}

.founder {
  margin-top: 10rem;
  margin-bottom: 1.5rem;
}
.founder-image {
  width: 281px;
  height: 281px;
  margin-inline: auto;
}
.founder-info {
  width: 90%;
  margin-inline: auto;
  background-color: #24053e;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  transform: translate(0, -3.5rem);
}
.founder-title {
  font-size: 2rem;
  line-height: 3rem;
}
.founder-text {
  margin: 1rem 0 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 4rem;
}
.footer-icons {
  width: 116px;
  display: flex;
  justify-content: space-between;
}
.footer-icons path:hover {
  cursor: pointer;
  fill: #24053e;
}

/*# sourceMappingURL=main.css.map */
