@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.main {
  min-height: 100vh;
}

.container {
  max-width: 1114px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
  max-width: 1114px;
  margin: 0 auto;
}
.header-img {
  object-fit: contain;
}
.header-text {
  color: #ffffff;
  border-bottom: 3px solid #44ffa1;
  width: fit-content;
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 2;
  transition: all 300ms ease-in-out;
}
.header-text:hover {
  cursor: pointer;
  color: #44ffa1;
}

.purple {
  background-color: #24053e;
  position: relative;
}

.hero {
  padding: 4rem 1rem;
  position: relative;
}
.hero-title {
  font-size: 50px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  transition: all 300ms ease-in-out;
}
.hero-btn {
  width: fit-content;
  margin: 0 auto 4rem;
}

.slinky-1,
.slinky-2,
.slinky-3 {
  display: none;
}

.btn {
  color: #24053e;
  background-color: #44ffa1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #44ffa1;
  background-color: transparent;
  outline: 2px solid #44ffa1;
}

.pink {
  background-color: #fcf8ff;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}
.pink-curved-line {
  position: relative;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 85%;
  max-width: 1114px;
  margin: 0 auto;
}

.info {
  text-align: center;
}

.info-number {
  width: 48px;
  height: 46px;
  border-radius: 30.5px;
  border-radius: 99px;
  border: 1px solid #584d62;
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-number span {
  font-size: 1.25rem;
  line-height: 36px;
  color: #24053e;
}

.info-text-title {
  color: #24053e;
  font-size: 1.75rem;
  line-height: 36px;
  margin-bottom: 1rem;
}

.info-text-desc {
  color: #584d62;
}

.phone {
  margin: 0 auto;
  width: 90%;
  transform: translate(0, -90px);
  max-width: 715px;
}

.founder {
  margin: 10rem auto 0;
  width: 90%;
  max-width: 1114px;
}
.founder-image {
  width: 281px;
  height: 281px;
  margin-inline: auto;
}
.founder-info {
  background-color: #24053e;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  transform: translate(0, -3.5rem);
}
.founder-title {
  font-size: 2rem;
  line-height: 3rem;
}
.founder-text {
  margin: 1rem 0 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 4rem;
}
.footer-icons {
  width: 116px;
  display: flex;
  justify-content: space-between;
}
.footer-icons path:hover {
  cursor: pointer;
  fill: #24053e;
}

@media (min-width: 598px) {
  .hero {
    padding: 3.5rem 1.15rem 3.25rem;
  }
  .hero-title {
    font-size: 60px;
  }
  .slinky-1,
  .slinky-2,
  .slinky-3 {
    display: block;
    position: absolute;
    transition: all 300ms ease-in-out;
  }
  .slinky-1 {
    top: 0;
    left: -220px;
  }
  .slinky-2 {
    bottom: 24px;
    right: -100px;
  }
  .slinky-3 {
    bottom: -100px;
    right: 16px;
  }
  .info-container {
    width: 72%;
  }
  .info {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .phone {
    transform: translate(35px, -110px);
  }
  .founder {
    width: 88%;
    margin: 10rem auto -3rem;
  }
  .founder-image {
    margin: 0;
  }
  .founder-info {
    position: relative;
    text-align: left;
    padding: 3.5rem;
    width: 75%;
    max-width: 730px;
    margin-left: auto;
    transform: translate(0, -7.5rem);
  }
  .founder-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .footer {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 1090px) {
  .header-text {
    font-size: 18px;
    line-height: 32px;
  }
  .hero-title {
    font-size: 80px;
  }
  .slinky-1 {
    top: 31px;
    left: -143px;
  }
  .slinky-2 {
    bottom: 24px;
    right: -48px;
  }
  .slinky-3 {
    bottom: -62px;
    right: 48px;
  }
  .info-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
    width: 95%;
  }
  .info {
    text-align: center;
    flex-direction: column;
  }
  .info-text-title {
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 1.75rem;
  }
  .info-text-desc {
    font-size: 18px;
    line-height: 32px;
  }
  .founder {
    margin: 10rem auto -10.5rem;
  }
  .founder-image {
    width: 477px;
    height: 477px;
  }
  .founder-info {
    width: 65%;
    padding: 4rem;
    transform: translate(0, -18.5rem);
  }
  .founder-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
