@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Kumbh Sans', sans-serif;
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: var(--font-family);
  font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
}

.main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);
}

.bg-img {
  border-radius: 15px 15px 0 0;
}

.info {
  text-align: center;
}
.info__age {
  color: var(--dark-gray);
  margin-left: 8.5px;
  font-weight: 400;
}

.info__city {
  font-size: 14px;
  color: var(--dark-gray);
  margin: 8px 0 24px;
}

.card__bg {
  position: relative;
  margin-bottom: 72px;
}
.victor {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 96px;
  border: 5px solid #fff;
  margin-bottom: 24px;
}

.stats {
  padding: 24px 41px 27px;
  display: flex;
  justify-content: space-between;
}
.stat {
  text-align: center;
}

.stat p:first-child {
  font-weight: 700;
  margin-bottom: 9px;
  color: var(--desaturated-blue);
}

.stat p:nth-child(2) {
  font-size: 10px;
  letter-spacing: 1.5px;
  color: var(--dark-gray);
}

/* ******* */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
